/***** MAIN STYLES *****/

body {
	font-family: 'Source Sans Pro', sans-serif;
}
.oe_dark {
	background: #e6e6e6 !important;
}

h1, .h1 {
	font-weight: 300;
	color: #414141;
	font-size: 42px;
	line-height: 52px;
}
h1 strong, .h1 strong {
	font-weight: 600;
}
h2 {
    font-weight: 300 !important;
    font-size: 26px !important;
    margin-top: 6px !important;
}
.jumbotron h1 {
	color: #fff !important;
	font-size: 42px !important;
	line-height: 52px !important;
}
.breadcrumb {
    padding: 0 !important;
    background-color: transparent !important;
}
.breadcrumb a {
    font-style: italic;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F8F8F9;
    border: 0 none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
.media > .pull-left {
    margin-right: 16px;
}
#main {
    padding:25px 0 100px 25px;
    /*margin-left:200px;*/
}
#main .media > .pull-left {
    padding: 2px 6px;
    background: #FF9233;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#main h4.media-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.1px;
    padding: 10px 10px 0 0;
}
#wrapwrap .form-control, .input-group-addon {
    padding: 6px 12px;
}

section.mt-60 {
  margin-top: -60px !important;
  z-index: 99;
  position: relative;
}
#wrapwrap .form-container {
	display: inline-block;
}

#wrapwrap .form-container form {
  padding: 32px;
}

.form-container form.form-inline {
  padding: 8px;
}
.semitransparent {
	background-color: rgba(0, 0, 0, 0.38);
}
.form-inline .form-group {
	padding: 8px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
  outline-offset: 0;
  -webkit-box-shadow: none rgba(0, 0, 0, 0);
  box-shadow: none rgba(0, 0, 0, 0);
}
#wrapwrap .btn-gradient {
  display: block;
  white-space: inherit;
  width: 100%;
  min-height: 52px;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 2;
  color: #333;
  background-color: #FFF;
  background-image: none;
  border: 0 none;
  -webkit-box-shadow: none rgba(0, 0, 0, 0);
  box-shadow: none rgba(0, 0, 0, 0);
}
#wrapwrap .btn-gradient,
#wrapwrap .btn-gradient:hover,
#wrapwrap .btn-gradient:focus,
#wrapwrap .btn-gradient:active,
#wrapwrap .btn-gradient.active,
#wrapwrap .open > .dropdown-toggle.btn-gradient {
	color: #fff;
	text-transform:uppercase;
	font-weight: 700;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.38);
  outline-offset: 0;
	background: #fbab6f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmJhYjZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ExNWYzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  #fbab6f 0%, #a15f3c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fbab6f), color-stop(100%,#a15f3c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #fbab6f 0%,#a15f3c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #fbab6f 0%,#a15f3c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #fbab6f 0%,#a15f3c 100%); /* IE10+ */
background: linear-gradient(45deg,  #fbab6f 0%,#a15f3c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbab6f', endColorstr='#a15f3c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

section ul { padding-left:0; list-style:none; font-size: 18px;	line-height: 24px;}
section ul li { margin-bottom: 40px; }
section ul li:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #e19d76;
    margin:0 5px 0 -24px;
}

/*** HEADER ***/

.navbar-brand {
    padding: 20px 0px !important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-fixed-top h3 {
    font-size:16px;
    font-weight: 300;
    color: #fff;
    margin-top:40px;
    margin-bottom:0px;
}
.navbar-fixed-top p {
    color: #fff;
}

/***** LANDING SIGNUP *****/

.jumbotron {
	background:url('../img/header-background.jpg') no-repeat;
	background-size: cover;
	color: #fff;
	padding:0;
	margin:0 !important;
}
footer .jumbotron, .jumbotron.footer {
	background:url('../img/footer-background.jpg') no-repeat;
	background-size: cover;
}

/***** SUPPLIERS FORM *****/

#suppliers-form {
    padding-top: 100px;
}

#suppliers-form-contact {
    background: url('../img/footer-background.jpg') no-repeat;
    padding: 25px 0;
    background-size: cover;
    width: 100%;
    color: #fff;
}

/***** FOOTER *****/

#footer_container, #footer {
  padding: 0;
}

footer {
    background: #383839;
    padding: 25px 0;
    /*position: absolute;*/
    width: 100%;
    color: #fff;
}

/* footer > div.container.mt16.mb8 {
	margin-top: -48px !important;
} */

footer .text-muted {
	color: #e19d76;
}

footer h3, footer h4, footer p, footer a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}
footer h3 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 30px;
}
footer a {
    text-decoration: underline;
}
copyright {
    color: #B98060;
}

/*** EXTRAS ***/

.container-200 {
    padding-left: 25px;
}
 @media (min-width: 768px) {
.container-200 {
 width: 550px;
}
}
@media (min-width: 992px) {
.container-200 {
 width: 770px;
}
}
@media (min-width: 1200px) {
.container-200 {
 width: 970px;
}
}
#logo-container {
    width: 200px !important;
    border-right: 1px solid #6D6E71;
}
.number-circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px 8px;
    background: #fff;
    border: 1px solid #FF9233;
    color: #FF9233;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
    vertical-align: middle;
    margin-right:5px;
}
#wrapwrap .form-container form {
    padding: 32px;
}
.semitransparent {
    background-color: rgba(0, 0, 0, 0.38);
}
.semitransparent label {
    color: #fff;
}
section ul {
    font-size: 18px;
    line-height: 24px;
}
section ul li {
    margin-bottom: 40px;
}
section ul li i.fa-check {
    color: #FF9233;
}
.pl0 {
    padding-left:0;
}
#more_pics {
    margin-left: -5px;
    margin-right: -5px;
}
#more_pics .col-md-3 {
    padding: 5px;
}
#more_pics img {
    padding: 10px;
    background:#F8F8F9;
}


@media (max-width: 768px) {
	a.brand, img:not(.cke_iframe) {
		display: block;
		float: none!important;
		  margin-left: auto!important;
		  margin-right: auto!important;
	}
	a.brand img {
		margin-bottom: 32px !important;
	}
	h1, ul {
		text-align: center;
	}
	section ul {
		padding: 32px;
	}
	footer .pull-left.text-muted {
		float: none !important;
		text-align: center;
	}
}